.container {
  position: relative;
  max-width: 1312px;
  margin: 0 auto;
  padding: 0 16px;
}

.section {
  padding-bottom: 32px;
}

.header {
  padding: 64px 0;
  background: rgba(81, 38, 137, 1);
  margin-bottom: 48px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__title {
    margin: 0;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 64px;
    line-height: 75px;
    color: #fff;
  }

  &__text {
    max-width: 845px;
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 23.44px;
    color: #fff;
  }

  &__btn {
    position: absolute;
    top: -32px;
    right: 16px;
    padding: 8px 16px;
    background: none;
    border: 1px solid #fff;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21.79px;
    color: #fff;
    cursor: pointer;
  }
}

.users {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__list {
    display: grid;
    width: 100%;
    margin-bottom: 56px;
    list-style: none;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 145px;
    width: 100%;
    position: relative;
    padding: 36px 80px 64px;
    border-radius: 10px;
    box-shadow: 0px 1px 4px 0px rgba(51, 51, 51, 0.15);

    &-link {
      &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
      }
    }

    &-avatar {
      width: 124px;
      height: 124px;
      margin-bottom: 16px;
      border-radius: 50%;
    }

    &-text {
      margin: 0;
      font-weight: 400;
      font-size: 20px;
      line-height: 23.44px;
    }

    &-button {
      width: 32px;
      height: 32px;
      position: absolute;
      bottom: 20px;
      right: 20px;
      padding: 8px;
      background: rgba(248, 248, 248, 1);
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  }

  &__btn {
    padding: 8px 16px;
    background: none;
    border: 1px solid rgba(21, 19, 23, 1);
    border-radius: 8px;
    cursor: pointer;

    &-text {
      margin-right: 0.5em;
      font-weight: 400;
      font-size: 16px;
      line-height: 21.79px;
    }
  }
}
